body{
    background-color: rgb(60, 144, 96);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    
}

h2 {
    font: weight 100;
    letter-spacing: 0.2em;
    background-color: #a7f646;
    text-transform: uppercase;
    border: 5px solid rgb(228, 98, 104);
    outline-style:double;
    outline-width: thick;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }

main{
    justify-content: center;
    background-color:rgba(234, 208, 37, 0.833);
}   


div{
    text-align: center;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.flexbox{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

a:hover{
    background-color:greenyellow ;
    border-radius: 15px;
    padding: 10px 10px;
}
#images1{
    align-items: center;
    border-radius: 20%;
    box-shadow: 10px 10px 10px rgb(161, 211, 103);
    max-width: 200px;
    max-height: 200px;
}
#images2{
    align-items: center;
    border-radius: 20%;
    box-shadow: 10px 10px 10px rgb(37, 215, 232);
    max-width: 500px;
    max-height: 500px;
}
#images3{
    align-items: center;
    border-radius: 20%;
    box-shadow: 10px 10px 10px rgb(20, 21, 18);
    max-width: 400px;
    max-height: 400px;
}


  


